@import url(/font/ComicCodeLigatures.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-x: hidden;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
}

#root-wrapper {
	width: 100%;
	height: 100%;
}
